@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    rgb(var(--background--rgb));
  font-family: 'Gotham-Book', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fonts */
@font-face {
  font-family: 'Gotham-Book';
  src: url('../../public/fonts/Gotham-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../../public/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}